In [21]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
#from sklearn.metrics import raccuracy_score
from sklearn.metrics import roc_accuracy_score

In [22]:
X = pd.read_csv('train.csv')

In [23]:
X.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [24]:
y = X.pop('Survived')
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [25]:
numeric_variables = list(X.dtypes[X.dtypes !='object'].index)
numeric_variables

['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [28]:
X[numeric_variables].head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare
0            1       3  22.0      1      0   7.2500
1            2       1  38.0      1      0  71.2833
2            3       3  26.0      0      0   7.9250
3            4       1  35.0      1      0  53.1000
4            5       3  35.0      0      0   8.0500

In [31]:
X['Age'].fillna(X.Age.mean(),inplace=True)

In [32]:
model = RandomForestClassifier(n_estimators=100)
model.fit(X[numeric_variables],y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [33]:
print("Train_Accuracy  = ", accuracy_score(y,model.predict(X[numeric_variables])))

Train_Accuracy  =  1.0

In [40]:
test = pd.read_csv('test.csv')

In [43]:
test[numeric_variables].head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare
0          892       3  34.5      0      0   7.8292
1          893       3  47.0      1      0   7.0000
2          894       2  62.0      0      0   9.6875
3          895       3  27.0      0      0   8.6625
4          896       3  22.0      1      1  12.2875

In [45]:
test['Age'].fillna(test.Age.mean(),inplace=True)

In [46]:
test = test[numeric_variables].fillna(test.mean()).copy()

In [47]:
y_pred = model.predict(test[numeric_variables])

In [52]:
submission = pd.DataFrame({
    "PassengerId":test["PassengerId"],
    "Survived":y_pred
})
submission.to_csv("afarane.csv",index=False)

In [53]:
submission.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0